<!--The content below is only a placeholder and can be replaced.-->
<!-- <app-word></app-word>
<app-book></app-book> -->

<!-- <app-person name="Tri Nguyen" age="20"></app-person>
<app-person name="Jioz Nguyen" age="21"></app-person> -->


<!-- <app-list-person></app-list-person> -->

<!-- <app-parent></app-parent> -->


<!-- <app-card>
    <p class="card-header">Nguyen Tri 1998</p>
    <p class="card-body">Nguyen Tri 1998</p>
</app-card> -->


<!-- <app-learn-pipe></app-learn-pipe> -->

<!-- <app-bitcoin></app-bitcoin> -->

<!-- <app-weather></app-weather> -->
<!-- <app-singin></app-singin> -->


<!-- <app-signup></app-signup> -->

<div>
    <a routerLink="/contacts">Contacts</a>
</div>

<div>
    <a routerLink="/detail">Detail</a>
</div>

<!-- Router-outlet để hiển thị nội dụng của component được gọi đến -->
<router-outlet></router-outlet>